{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/chat/chatroom">Chatting</a>
    <a class="current-demo" href="/search">Search</a>
    <a href="/board">Board</a>
    <a href="/info">Info</a>
</nav>
</header>

<div>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">

                <div class="row">
                    <div class="form-box">
                        <div class="search">
                            <div class="search-list">
                                <a href="/search/mbtiFriend">MBTI 친구 찾기</a>
                                <a href="/search/hobbyFriend">취미 맞는 친구 찾기</a>
                                <a href="/search/universityFriend">학교 친구 찾기</a>
                                <a href="/search/anyFriend">아무 친구 찾기</a>
                            </div>
                        </div>
                    </div>

                </div>

        </div>

    </div>

    <!-- Footer -->
    <footer>

    </footer>
</div>

{{>layout/footer}}