<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/default.css" />
    <link rel="stylesheet" type="text/css" href="../../css/component.css" />
    <script src="js/modernizr.custom.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/form-elements.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!--CSS swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </div>
    <!-- JavaScript -->
    <script src="../../webjars/vue/2.5.16/dist/vue.min.js"></script>
    <script src="../../webjars/axios/0.17.1/dist/axios.min.js"></script>
    <script src="../../webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="../../webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script src="../../webjars/sockjs-client/sockjs.min.js"></script>


    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../images/icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../assets/ico/apple-touch-icon-57-precomposed.png">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>

<div class="container demo-3">
    <!-- Top Navigation -->
    <div class="codrops-top clearfix">
        <a class="codrops-icon codrops-icon-prev" href="/.."><span>이전</span></a>
        {{#nickName}}
            {{nickName}}님
            <span class="right"><a class="codrops-icon codrops-icon-drop" href="/logout"><span>Log Out</span></a></span>
        {{/nickName}}
        {{^nickName}}
            <span class="right"><a class="codrops-icon codrops-icon-drop" href="/loginForm"><span>Log In</span></a></span>
        {{/nickName}}
    </div>
    <header>
        <a href="/"><img src="../../images/icon.png" height="130px"></a>
        <a href="/"><h1><strong>라때는...</strong></h1></a>