{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/chat/chatroom">Chatting</a>
    <a href="/search">Search</a>
    <a class="current-demo" href="/board">Board</a>
    <a href="/info">Info</a>
</nav>
</header>

<div id="appModule" class="card card-body mb-4 content">

    <div>
        <p class="content_title ">새 글을 작성해주세요!</p>
    </div>
        <form action="/board/post/postSaveProc?board_id={{board_id}}" method="post" class="save-form">
        <div class="board_write_form">
            <dl>
                <dt> 제목 </dt>
                <dd>
                    <input type="text" name="title" style="width:100%">
                </dd>

            </dl>

            <dl>
                <dt> 내용 </dt>
                <dd>
                    <textarea id="content" name="content" class="es" style="width:100%; height:250px"></textarea>
                </dd>
            </dl>
        </div>
            <dl>
                <button type="submit" class="w-btn btn-follower" style="margin-top:10px; float:right">등록</button>
            </dl>

    </form>


</div>

    <!-- Footer -->
    <footer>

    </footer>

{{>layout/footer}}