{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/chat/chatroom">Chatting</a>
    <a href="/search">Search</a>
    <a href="/board">Board</a>
    <a class="current-demo" href="/info">Info</a>
</nav>
</header>

<div>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h1><strong>닉네임 변경</strong></h1>
                            </div>

                        </div>
                        <div class="form-bottom">
                            <form action="/info/changeNickNameProc" method="post" class="changeNickName-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-nickname">닉네임</label>
                                    <input type="text" name="nickname" placeholder={{nickName}}
                                           class="form-nickname form-control" id="form-nickname">
                                </div>
                                <button type="submit" class="btn">Change!</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>

    </footer>
</div>

{{>layout/footer}}