{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/chat/chatroom">Chatting</a>
    <a href="/search">Search</a>
    <a href="/board">Board</a>
    <a class="current-demo" href="/info">Info</a>
</nav>
</header>

<div>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h1><strong>비밀번호 변경</strong></h1>
                                <p>Check your password</p>
                            </div>

                        </div>
                        <div class="form-bottom">
                            <form action="/info/changePwdProc" method="post" class="changePwd-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-NewPassword">새 비밀번호</label>
                                    <input type="password" name="NewPassword" placeholder="NewPassword..."
                                           class="form-NewPassword form-control" id="form-NewPassword">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-NewPasswordCheck">새 비밀번호 확인</label>
                                    <input type="password" name="NewPasswordCheck" placeholder="NewPasswordCheck..."
                                           class="form-NewPasswordCheck form-control" id="form-NewPasswordCheck">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-BeforePassword">현재 비밀번호</label>
                                    <input type="password" name="BeforePassword" placeholder="BeforePassword..."
                                           class="form-BeforePassword form-control" id="form-BeforePassword">
                                </div>
                                <button type="submit" class="btn">Change!</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>

    </footer>
</div>

{{>layout/footer}}