<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Join</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="css/main.css">
</head>

<script>
    window.history.pushState(null, null, "/join");
</script>

<body>
<!--header-->
<div id="header">
    <h1>회원가입</h1>
</div>

<!--wrapper-->
<div id="wrapper">

    <!--content-->
    <div id="content">

        <form action="/joinProc" method="post" class="join-form">
            <!--ID-->
            <div>
                <h3 class="join_title">
                    <label for="id">아이디</label>
                </h3>
                <span class="box init_id">
                    <input type="text" name="username" class="int" id="id" maxlength="20">
                </span>
                <span class="error_next_box"></span>
            </div>

            <!--PW1-->
            <div>
                <h3 class="join_title">
                    <label for="psw1">비밀번호</label>
                </h3>
                <span class="box int_pass">
                    <input type="password" name="password" id="pswd1" class="int" maxlength="20">
                    <span id="alertTxt">사용불가</span>
                    <img src="../../images/m_icon_pass.png" id="pswd1_img1" class="pswdImg">
                </span>
                <span class="error_next_box"></span>
            </div>

            <!--Email-->
            <div>
                <h3 class="join_title"><label for="email">이메일</label></h3>
                <span class="box int_email">
                    <input type="email" name="email" id="email" class="int" maxlength="100">
                </span>
                <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
            </div>

            <!--Nickname-->
            <div>
                <h3 class="join_title"><label for="name">활동명</label></h3>
                <span class="box init_id">
                    <input type="text" name="nickName" class="int" id="name" maxlength="20">
                </span>
                <span class="error_next_box"></span>
            </div>

            <!--Join button-->
            <div class="btn_area">
                <button type="submit" id="btnJoin">가입하기</button>
            </div>

        </form>

    </div>
</div>

    <script src="/js/validate.js"></script>
</body>
    <!-- Footer -->
    <footer>

    </footer>


{{>layout/footer}}