{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/mychatroom">Chatting</a>
    <a href="/search">Search</a>
    <a href="/board">Board</a>
    <a class="current-demo" href="/info">Info</a>
</nav>
</header>

<div>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h1><strong>Question</strong></h1>
                                <p>Enter your Infomation</p>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form action="/questionProc" method="post" class="question-form">
                                <div class="form-group">
                                    <p>성별</p>
                                    <input type="radio" id="sex" name="sex" value="남자">남자
                                    <input type="radio" id="sex" name="sex" value="여자">여자
                                </div>
                                <div class="form-group">
                                    <p>생년월일</p>
                                    <input type="date" id="birthday" name="birthday">
                                </div>
                                <div class="form-group">
                                    <p>학교</p>
                                    <input type="radio" id="university" name="university" value="서울대학교">서울대학교
                                    <input type="radio" id="university" name="university" value="고려대학교">고려대학교
                                    <input type="radio" id="university" name="university" value="광운대학교">광운대학교
                                </div>
                                <div class="form-group">
                                    <p>종교</p>
                                    <input type="radio" id="religion" name="religion" value="무교">무교
                                    <input type="radio" id="religion" name="religion" value="천주교">천주교
                                    <input type="radio" id="religion" name="religion" value="기독교">기독교
                                    <input type="radio" id="religion" name="religion" value="불교">불교
                                </div>
                                <div class="form-group">
                                    <p>주량</p>
                                    <input type="radio" id="amount_of_alcohol" name="amount_of_alcohol" value="전혀 안 함">전혀 안 함
                                    <input type="radio" id="amount_of_alcohol" name="amount_of_alcohol" value="반 병">반 병
                                    <input type="radio" id="amount_of_alcohol" name="amount_of_alcohol" value="한 병">한 병
                                    <input type="radio" id="amount_of_alcohol" name="amount_of_alcohol" value="두 병">두 병
                                    <input type="radio" id="amount_of_alcohol" name="amount_of_alcohol" value="많이">많이
                                </div>
                                <div class="form-group">
                                    <p>흡연</p>
                                    <input type="radio" id="smoking" name="smoking" value="비흡연자">비흡연자
                                    <input type="radio" id="smoking" name="smoking" value="흡연자">흡연자
                                </div>
                                <div class="form-group"> <!-- 다중 선택 고려해야함 -->
                                    <p>특징</p>
                                    <input type="checkbox" name="characteristic" value="활발한">활발한
                                    <input type="checkbox" name="characteristic" value="조용한">조용한
                                    <input type="checkbox" name="characteristic" value="애교가 넘치는">애교가 넘치는
                                    <input type="checkbox" name="characteristic" value="어른스러운">어른스러운
                                    <input type="checkbox" name="characteristic" value="열정적인">열정적인
                                    <input type="checkbox" name="characteristic" value="침착한">침착한
                                    <input type="checkbox" name="characteristic" value="또라이 같은">또라이 같은
                                    <input type="checkbox" name="characteristic" value="예의 바른">예의 바른
                                    <input type="checkbox" name="characteristic" value="유머러스한">유머러스한
                                </div>
                                <div class="form-group"> <!-- 다중 선택 고려해야함 -->
                                    <p>취미</p>
                                    <input type="checkbox" name="hobby" value="영화">영화
                                    <input type="checkbox" name="hobby" value="넷플릭스">넷플릭스
                                    <input type="checkbox" name="hobby" value="카페">카페
                                    <input type="checkbox" name="hobby" value="노래방">노래방
                                    <input type="checkbox" name="hobby" value="맥주">맥주
                                    <input type="checkbox" name="hobby" value="쇼핑">쇼핑
                                    <input type="checkbox" name="hobby" value="독서">독서
                                    <input type="checkbox" name="hobby" value="등산">등산
                                    <input type="checkbox" name="hobby" value="맛집 탐방">맛집 탐방
                                </div>
                                <div class="form-group">
                                    <p>친구 스타일</p>
                                    <input type="checkbox" name="friend_style" value="예쁘고 잘생긴">예쁘고 잘생긴
                                    <input type="checkbox" name="friend_style" value="옷 잘 입는">옷 잘 입는
                                    <input type="checkbox" name="friend_style" value="듬직한">듬직한
                                    <input type="checkbox" name="friend_style" value="아담한">아담한
                                    <input type="checkbox" name="friend_style" value="연상">연상
                                    <input type="checkbox" name="friend_style" value="연하">연하
                                    <input type="checkbox" name="friend_style" value="동갑">동갑
                                    <input type="checkbox" name="friend_style" value="취미가 같은">취미가 같은
                                    <input type="checkbox" name="friend_style" value="잘 웃어주는">잘 웃어주는
                                </div>
                                <button type="submit" id="btn-question">끝! </button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>

    </footer>
</div>

{{>layout/footer}}