{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/mychatroom">Chatting</a>
    <a class="current-demo" href="/search">Search</a>
    <a href="/board">Board</a>
    <a href="/info">Info</a>
</nav>
</header>

<div>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container" id="container">
                <div class="row">
                    <h3>차단한 친구들</h3>
                    <div class="card">
                        <div class="board">
                            <td class="td_name">
                                {{#blackList}}
                                    <img src="images/no_profile.png" alt="no_profile" style="width: 55px;height: 55px;margin:10px;">{{user.nickName}}
                                    <a onclick="location.href='friendDetail?user_id='+{{user.id}}">정보 보기</a>
                                    <input type="hidden" id="user_id" name="user_id" value="{{user.id}}"/>
                                    <button type="button" id="btn-blackCancel" class="btn-blackCancel" value="{{user.id}}" style="float:right">차단 풀기</button><br>
                                {{/blackList}}
                                {{^blackList}}
                                    차단한 친구가 없어용
                                {{/blackList}}
                            </td>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer>

        </footer>
    </div>

{{>layout/footer}}