{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/mychatroom">Chatting</a>
    <a href="/search">Search</a>
    <a class="current-demo" href="/board">Board</a>
    <a href="/info">Info</a>
</nav>

</header>

<div>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="form-box">

                        <section>
                            <h3>자유게시판</h3>
                                    {{#postList1}}
                                        <a onclick="location.href='postDetail?board_id='+{{board.id}}+'&post_id='+{{id}}">{{title}}</a>
                                    {{/postList1}}
                        </section>

                        <section>
                            <h3>스터디게시판</h3>
                                    {{#postList2}}
                                        <a onclick="location.href='postDetail?board_id='+{{board.id}}+'&post_id='+{{id}}">{{title}}</a>
                                    {{/postList2}}
                        </section>

                        <section>
                            <h3>정보게시판</h3>
                                    {{#postList3}}
                                        <a onclick="location.href='postDetail?board_id='+{{board.id}}+'&post_id='+{{id}}">{{title}}</a>
                                    {{/postList3}}
                        </section>

                        <section>
                            <h3>홍보게시판</h3>
                                    {{#postList4}}
                                        <a onclick="location.href='postDetail?board_id='+{{board.id}}+'&post_id='+{{id}}">{{title}}</a>
                                    {{/postList4}}
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>

    </footer>
</div>

{{>layout/footer}}