{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/mychatroom">Chatting</a>
    <a href="/search">Search</a>
    <a class="current-demo" href="/board">Board</a>
    <a href="/info">Info</a>
</nav>

<link rel="stylesheet" type="text/css" href="css/mychatroom.css" />

</header>

<div>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="form-box">
                        <section class="chatlist">
                            <div class="card">
                                <div class="board1">
                                    자유게시판
                                    {{#postList1}}
                                        <br>
                                        <a onclick="location.href='postDetail?board_id='+{{board.id}}+'&post_id='+{{id}}">{{title}}</a>
                                    {{/postList1}}
                                </div>
                            </div>
                        </section>
                        <section class="chatlist">
                            <div class="card">
                                <div class="board1">
                                    스터디게시판
                                    {{#postList2}}
                                        <br>
                                        <a onclick="location.href='postDetail?board_id='+{{board.id}}+'&post_id='+{{id}}">{{title}}</a>
                                    {{/postList2}}
                                </div>
                            </div>
                        </section>
                        <section class="chatlist">
                            <div class="card">
                                <div class="board1">
                                    정보게시판
                                    {{#postList3}}
                                        <br>
                                        <a onclick="location.href='postDetail?board_id='+{{board.id}}+'&post_id='+{{id}}">{{title}}</a>
                                    {{/postList3}}
                                </div>
                            </div>
                        </section>
                        <section class="chatlist">
                            <div class="card">
                                <div class="board1">
                                    홍보게시판
                                    {{#postList4}}
                                        <br>
                                        <a onclick="location.href='postDetail?board_id='+{{board.id}}+'&post_id='+{{id}}">{{title}}</a>
                                    {{/postList4}}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>

    </footer>
</div>

{{>layout/footer}}