{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/mychatroom">Chatting</a>
    <a href="/search">Search</a>
    <a href="/board">Board</a>
    <a class="current-demo" href="/info">Info</a>
</nav>
</header>

<div>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h1><strong>이메일 변경</strong></h1>
                                <p>Check your email</p>
                            </div>

                        </div>
                        <div class="form-bottom">
                            <form action="/changeEmailProc" method="post" class="changePwd-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-email">이메일</label>
                                    <input type="email" name="email" placeholder={{email}}
                                           class="form-email form-control" id="form-email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">계정 비밀번호</label>
                                    <input type="password" name="password" placeholder="password..."
                                           class="form-password form-control" id="form-password">
                                </div>
                                <button type="submit" class="btn">Change!</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>

    </footer>
</div>

{{>layout/footer}}