{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a class="current-demo" href="/chat/chatroom">Chatting</a>
    <a href="/search">Search</a>
    <a href="/board">Board</a>
    <a href="/info">Info</a>
</nav>
</header>

<h2>{{chatroom.roomname}}</h2>

<div id="app" v-cloak>
    <div class="row">

        <div class="col-md-12">
            <a href="#info" class="btn-open" style="color: darkgray; float: right;">방 정보</a>
        <div id="info" class="pop_wrap" style="display:none;">
        <div class="pop_inner">
            <p class="dsc">방 정보</p>
            방 인원 : {{roomsize}} / {{maxroomsize}}
            <br>
            방장 : {{chatroom.masterusername}}
            <br>
            {{#room}}
                <div id="profile{{User.id}}" class="pop_wrap" style="display:none;">
                <div class="pop_inner">
                    <p class="dsc">{{User.nickName}}프로필</p>
                    <tr>
                        <td>
                            <button type="button" onclick="window.open('/search/friendDetail?user_id='+{{User.id}},'친구디테일','width=430,height=500');">
                                디테일
                            </button>
                            <button type="button"
                                    onclick="location.href = '/chat/personalChat?user_id=' + {{User.id}}">
                                개인톡
                            </button>
                        </td>
                    </tr>
                    <br><br>
                    <button type="button" class="btn_close">닫기</button>
                </div>
            </div>
                <tr>
                    <td>
                        {{User.nickName}}
                    </td>
                    <td>
                <a href="#profile{{User.id}}" class="btn-open">프로필</a>

                <br>
                </td>
                </tr>

            {{/room}}
            <br>
            <td>
                <button type="button" onclick="disconnect()">방 나가기</button>
                <button type="button" class="btn_close">닫기</button>
            </td>
            <br>
        </div>
    </div>
    {{#master}}
        <a href="#setting" class="btn-open" style="color: darkgray; float: right;">방설정&nbsp;&ensp;</a>
    {{/master}}
    <div id="setting" class="pop_wrap" style="display:none;">
        <div class="pop_inner">
            <p class="dsc">방 설정</p>
            <br>
            <a href="#modifyroom" class="btn-open">방 수정</a>
            <br>
            <div id="modifyroom" class="pop_wrap" style="display:none;">
                <div class="pop_inner">
                    <p class="dsc">방 최대 인원 수정</p>
                    <tr>
                        <form action="/chat/modifyChatroom" method="post" class="room-form">
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{chatroom.id}}"></hidden>
                                <input type="text" name="roomname" placeholder="{{chatroom.roomname}}"
                                       value="{{chatroom.roomname}}"
                                       class="form-username form-control" id="form-username">
                                <br>
                                <input type="number" name="maxnumber" placeholder="{{maxroomsize}}"
                                       value="{{maxroomsize}}"
                                       class="form-username form-control" id="form-username">
                                <br>
                                <div class="form-username form-control" id="form-username">
                                    비밀방
                                    <input type="radio" id="search" name="search" value="1"
                                           checked="checked">공개
                                    <input type="radio" id="search" name="search" value="0">비공개
                                </div>
                            </div>
                            <button type="submit" class="btn">방 수정</button>
                        </form>
                    </tr>
                    <button type="button" class="btn_close">닫기</button>
                    </td>
                    <br>
                </div>
            </div>
            방 인원 : {{roomsize}} / {{maxroomsize}}

            <br>
            방장 : {{chatroom.masterusername}}
            <br>
            {{#room}}
                <tr>
                <td>
                    {{^me}}
                        <td>
                            {{User.nickName}}
                        </td>
                        <input onclick="forceExit({{User.id}},'{{&User.nickName}}')" value="강제퇴장"
                               type="button">
                        <input onclick="changeMaster({{User.id}},'{{&User.nickName}}')" value="매니저위임"
                               type="button">
                    {{/me}}
                    </td>
                </tr>
                <br>
            {{/room}}
            <br>
            <br>
            <td>
                <button type="button" id="button_copy">초대 링크</button>
                <button type="button" class="btn_close">닫기</button>
            </td>
            <br>
        </div>
    </div>
</div>

<div class="col-12" id="msgArea" style="float: none; width: 100%">
    {{#saveMessage}}
        {{#me}}
            <div class='col-12'>
                <div class='message-me'>
                    <b>
                        <tr>
                            <td>나</td>
                            <td>:</td>
                            <td>{{message}}</td>
                        </tr>
                    </b>
                </div>
            </div>
        {{/me}}
        {{^me}}
            <div class='col-12'>
                <div class='message'>
                    <b>
                        <tr>
                            {{User.nickName}}
                            <td>:</td>
                            <td>{{message}}</td>
                        </tr>
                    </b>
                </div>
            </div>
        {{/me}}
    {{/saveMessage}}
</div>

<br>
<from>
    <input id="textMessage" class="textMessage" type="text"
           onkeyup="if(window.event.keyCode==13){sendMessage()}"/>
    <input onclick="sendMessage()" value="Send" type="button">
</from>
<br><br><br>
</div>
</div>

<script src="../../js/chat.js"></script>

<script type="text/javascript">
    const button = document.getElementById('button_copy');
    button.addEventListener('click', copyToClipboard);

    function copyToClipboard(val) {
        const str = "https://" + location.host + "/chat/chatting?id=" +{{chatroom.id}};
        navigator.clipboard.writeText(str);
        alert("URL이 클립보드에 복사되었습니다");
    }

    const socket = new SockJS('/ws/chat');
    const stompClient  = Stomp.over(socket);

    //웹 소켓이 연결되었을 때 호출되는 이벤트

    stompClient.connect({}, function () {
        var option = {
        type: "ENTER",
        chatRoom: {{chatroom.id}},
        user: "{{nickName}}",
        message: "님이 채팅방을 들어왔습니다."
        }
        stompClient.send("/pub/chat/send", {}, JSON.stringify(option));
        stompClient.subscribe("/sub/chat/chatting?id=" + {{chatroom.id}}, function (chat) {
            const content = JSON.parse(chat.body);

            const sender = content.user;
            const message = content.message;
            let str = '';

            if(sender == '{{&nickName}}'){
                str = "<div class='col-12'>";
                str += "<div class='message-me'>";
                str += "<b>" + "나" + " : " + message + "</b>";
                str += "</div></div>";
                $("#msgArea").prepend(str);
            }else {
                str = "<div class='col-12'>";
                str += "<div class='message'>";
                str += "<b>" + sender + " : " + message + "</b>";
                str += "</div></div>";
                $("#msgArea").prepend(str);
            }
        });
    });

    //Send 버튼을 누르면 실행되는 함수
    function sendMessage() {
        var message = document.getElementById("textMessage");
        var option = {
            type: "TALK",
            chatRoom: {{chatroom.id}},
            user: "{{nickName}}",
            message: message.value
        }
        stompClient.send("/pub/chat/send", {}, JSON.stringify(option));
        message.value = "";
    }

    //웹소켓 종료
    function disconnect() {
        if ('{{&nickName}}' == '{{&chatroom.masterusername}}') {
            alert("방장을 위임한 후, 나가십시오.")
        } else {
            var option = {
                type: "EXIT",
                chatRoom: {{chatroom.id}},
                user: "{{nickName}}",
                message: '님이 채팅방을 나갔습니다.'
            }
            stompClient.send("/pub/chat/send", {}, JSON.stringify(option));
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            location.href = "/chat/exitchatroom?id=" + "{{chatroom.id}}";
        }
    }

    function forceExit(user_id, username) {
        if (confirm(username + "를 강제 퇴장 시키겠습니까?\n강제퇴장 후 다시 입장할 수 없습니다.")) {
            var option = {
                type: "OUT",
                chatRoom: {{chatroom.id}},
                user: username,
                message: '님이 채팅방을 퇴장당했습니다.'
            }
            stompClient.send("/pub/chat/send", {}, JSON.stringify(option));
            location.href = "/chat/forceexitchatroom?room_id=" + "{{chatroom.id}}" + "&user_id=" + user_id;
        }
    }

    function changeMaster(user_id, username) {
        if (confirm(username + "에게 매니저를 위임하시겠습니까?")) {
            location.href = "/chat/changeMaster?room_id=" + "{{chatroom.id}}" + "&user_id=" + user_id;
        }
    }

</script>

{{>layout/footer}}

