<div id="profile" class="pop_wrap" style="display:none;">
    <div class="pop_inner">
        <p class="dsc">{{User.nickName}}프로필</p>
        <tr>
            <td>
                닉네임 : {{User.nickName}}
            </td>
            <br>
            <td>
                MBTI : ESTJ
            </td>
            <br>
            <td>
                <input value="팔로잉" type="button">
                <input value="개인톡" type="button">
            </td>
        </tr>
        <br>
        <button type="button" class="btn_close">닫기</button>
        </td>
        <br>
    </div>
</div>

<script>
    var target = document.querySelectorAll('.btn-open');
    var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
    var targetID;

    function parentRefresh() {
        opener.location.reload();
    }

    // 팝업 열기
    for (var i = 0; i < target.length; i++) {
        target[i].addEventListener('click', function () {
            targetID = this.getAttribute('href');
            document.querySelector(targetID).style.display = 'block';
        });
    }

    // 팝업 닫기
    for (var j = 0; j < target.length; j++) {
        btnPopClose[j].addEventListener('click', function () {
            this.parentNode.parentNode.style.display = 'none';
        });
    }

</script>