{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a href="/mychatroom">Chatting</a>
    <a class="current-demo" href="/search">Search</a>
    <a href="/board">Board</a>
    <a href="/info">Info</a>
</nav>
</header>

<div>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <h3>팔로워 친구들</h3>
                    <div class="card">
                        <div class="board">
                            <td class="td_name">
                                {{#followerList}}
                                    <img src="images/no_profile.png" alt="no_profile" style="width: 55px;height: 55px;margin:10px;">{{user.nickName}}
                                    <a onclick="location.href='friendDetail?user_id='+{{user.id}}">정보 보기</a>
                                    <!-- 팔로워 취소 버튼 만들기 -->
                                {{/followerList}}
                            </td>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer>

        </footer>
    </div>

{{>layout/footer}}