{{>layout/header}}
    <nav class="codrops-demos">
        {{#nickName}}
            <a class="current-demo" href="/">Home</a>
            <a href="/chat/chatroom">Chatting</a>
            <a href="/search">Search</a>
            <a href="/board">Board</a>
            <a href="/info">Info</a>
        {{/nickName}}
        {{^nickName}}
            <a class="current-demo" href="/">Home</a>
            <a href="/loginForm">Chatting</a>
            <a href="/loginForm">Search</a>
            <a href="/loginForm">Board</a>
            <a href="/loginForm">Info</a>
        {{/nickName}}
    </nav>
    </header>
    <ul class="grid cs-style-3">
        <li>
            <figure>
                <img src="images/chat.png" alt="img04">
                <figcaption>
                    <h3>대화</h3>
                    <span>친구들과 하던 대화를 이어가요!</span>
                    {{#nickName}}
                        <a href="/chat/chatroom">Chatting</a>
                    {{/nickName}}
                    {{^nickName}}
                        <a href="/loginForm">Login</a>
                    {{/nickName}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/search.png" alt="img01">
                <figcaption>
                    <h3>방 찾기</h3>
                    <span>대화를 할 친구를 찾아요!</span>
                    {{#nickName}}
                        <input type="hidden" id="init" class="init" value={{init}}>
                        <a id="btn-index" class="btn-index">Search</a>
                    {{/nickName}}
                    {{^nickName}}
                        <a href="/loginForm">Login</a>
                    {{/nickName}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/board.png" style="height:300px" alt="img02">
                <figcaption>
                    <h3>게시판</h3>
                    <span>정보를 함께 나눠요!</span>
                    {{#nickName}}
                        <a href="/board">Board</a>
                    {{/nickName}}
                    {{^nickName}}
                        <a href="/loginForm">Login</a>
                    {{/nickName}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/setting.png" alt="img05">
                <figcaption>
                    <h3>내 정보</h3>
                    <span>나의 정보를 확인해요!</span>
                    {{#nickName}}
                        <a href="/info">Info</a>
                    {{/nickName}}
                    {{^nickName}}
                        <a href="/loginForm">Login</a>
                    {{/nickName}}
                </figcaption>
            </figure>
        </li>
    </ul>
</div><!-- /container -->

{{>layout/footer}}