{{>layout/header}}

        <nav class="codrops-demos">
            <a class="current-demo" href="#">Home</a>
            <a href="#">Chatting</a>
            <a href="#">Search</a>
            <a href="#">Board</a>
            <a href="#">Info</a>
            <a href="#">미사용</a>
            <a href="index7.html">미사용</a>
        </nav>
    </header>
    <ul class="grid cs-style-3">
        <li>
            <figure>
                <img src="images/chat.png" alt="img04">
                <figcaption>
                    <h3>대화</h3>
                    <span>친구들과 하던 대화를 이어가요!</span>
                    {{#username}}
                        <input type="hidden" id="username" value="{{username}}">
                        <input type="hidden" id="init" value="{{init}}">
                        <a href="/chat" id="btn-index">Chatting</a>
                    {{/username}}
                    {{^username}}
                        <a href="/loginForm" id="btn-index">Login</a>
                    {{/username}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/search.png" alt="img01">
                <figcaption>
                    <h3>방 찾기</h3>
                    <span>대화를 할 친구를 찾아요!</span>
                    {{#username}}
                        <a href="/loginForm">Login</a>
                    {{/username}}
                    {{^username}}
                        <a href="/">Search</a>
                    {{/username}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/board.png" alt="img02">
                <figcaption>
                    <h3>게시판</h3>
                    <span>정보를 함께 나눠요!</span>
                    <a href="/">Board</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/setting.png" alt="img05">
                <figcaption>
                    <h3>내 정보</h3>
                    <span>나의 정보를 확인해요!</span>
                    <a href="/">Info</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/3.png" alt="img03">
                <figcaption>
                    <h3>Phone</h3>
                    <span>Jacob Cummings</span>
                    <a href="/">Take a look</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/6.png" alt="img06">
                <figcaption>
                    <h3>Game Center</h3>
                    <span>Jacob Cummings</span>
                    <a href="/">Take a look</a>
                </figcaption>
            </figure>
        </li>
    </ul>
</div><!-- /container -->

{{>layout/footer}}