{{>layout/header}}
    <nav class="codrops-demos">
        <a class="current-demo" href="/">Home</a>
        <a href="/mychatroom">Chatting</a>
        <a href="/search">Search</a>
        <a href="/board">Board</a>
        <a href="/info">Info</a>
    </nav>
    </header>
    <ul class="grid cs-style-3">
        <li>
            <figure>
                <img src="images/chat.png" alt="img04">
                <figcaption>
                    <h3>대화</h3>
                    <span>친구들과 하던 대화를 이어가요!</span>
                    {{#nickName}}
                        <a href="/mychatroom" id="btn-index">Chatting</a>
                    {{/nickName}}
                    {{^nickName}}
                        <a href="/loginForm" id="btn-index">Login</a>
                    {{/nickName}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/search.png" alt="img01">
                <figcaption>
                    <h3>방 찾기</h3>
                    <span>대화를 할 친구를 찾아요!</span>
                    {{#nickName}}
                        <a href="/search">Search</a>
                    {{/nickName}}
                    {{^nickName}}
                        <a href="/loginForm">Login</a>
                    {{/nickName}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/board.png" alt="img02">
                <figcaption>
                    <h3>게시판</h3>
                    <span>정보를 함께 나눠요!</span>
                    {{#nickName}}
                        <a href="/board">Board</a>
                    {{/nickName}}
                    {{^nickName}}
                        <a href="/loginForm">Login</a>
                    {{/nickName}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/setting.png" alt="img05">
                <figcaption>
                    <h3>내 정보</h3>
                    <span>나의 정보를 확인해요!</span>
                    {{#nickName}}
                        <a href="/info">Info</a>
                    {{/nickName}}
                    {{^nickName}}
                        <a href="/loginForm">Login</a>
                    {{/nickName}}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/3.png" alt="img03">
                <figcaption>
                    <h3>Phone</h3>
                    <span>Jacob Cummings</span>
                    <a href="/">Take a look</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="images/6.png" alt="img06">
                <figcaption>
                    <h3>Game Center</h3>
                    <span>Jacob Cummings</span>
                    <a href="/">Take a look</a>
                </figcaption>
            </figure>
        </li>
    </ul>
</div><!-- /container -->

{{>layout/footer}}