{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a class="current-demo" href="/chat/mychatroom">Chatting</a>
    <a href="/search">Search</a>
    <a href="/board">Board</a>
    <a href="/info">Info</a>
</nav>

<link rel="stylesheet" type="text/css" href="../css/mychatroom.css" />

</header>

<main>
    <section id="chatlist">
        <h3>채팅방 리스트</h3>
        <a href="#pop_info_1" class="btn-open">채팅방 만들기</a>


        <h3>채팅방 검색</h3>
        <input id="textMessage" class="textMessage" type="text" onkeyup="if(window.event.keyCode==13){sendMessage()}">
        <input onclick="searchKey()" value="Send" type="button">
        {{#searchedRoom}}
            <br>
            <tr>
                <td>{{roomname}}</td>
                <td>({{currentnumber}}/{{maxnumber}})</td>
                <button type="btn" onclick="location.href='/chat/chatting?id='+{{id}}">입장</button>
            </tr>
        {{/searchedRoom}}

    </section>

    <section>
        <h3>입장된 채팅방</h3>
        <article>
            {{#mychatroom}}
                <tr>
                    <td>{{chatRoom.roomname}}</td>
                    <td>({{chatRoom.currentnumber}}/{{chatRoom.maxnumber}})</td>
                    <button type="button" onclick="location.href='/chat/chatting?id='+{{chatRoom.id}}" style="height:28px; float:right">입장</button>
                </tr>
                <br>
            {{/mychatroom}}
        </article>


        <h3>내가 만든 채팅방</h3>
        <article>
            {{#chatroom}}
                <tr>
                    <td>{{roomname}}</td>
                    <td>({{currentnumber}}/{{maxnumber}})</td>
                    <button type="button" onclick="location.href='/chat/chatting?id='+{{id}}" style="height:28px; float:right">입장</button>
                </tr>
                <br>
            {{/chatroom}}
        </article>
    </section>


</main>

<article>
    <div id="pop_info_1" class="pop_wrap" style="display:none;">
        <div class="pop_inner">
            <p class="dsc">채팅창 만들기</p>
            <form action="/chat/createChatRoom" method="post" class="room-form">
                <div class="form-group">
                    <input type="text" name="roomname" placeholder="방 이름"
                           class="form-username form-control" id="form-username">
                    <br>
                    <input type="number" name="maxnumber" placeholder="최대 인원"
                           class="form-username form-control" id="form-username">
                    <br>
                    <div class="form-username form-control" id="form-username">
                        비밀방
                        <input type="radio" id="search" name="search" value="1" checked="checked">공개
                        <input type="radio" id="search" name="search" value="0">비공개
                    </div>
                </div>
                <button type="submit" class="btn">방 만들기</button>
            </form>
            <button type="button" class="btn_close">닫기</button>
        </div>
    </div>
</article>

<script>
    function searchKey() {
        var key = document.getElementById("textMessage");
        location.href = "/chat/chatroom?searchkey=" + $("#textMessage").val()
    }

    var target = document.querySelectorAll('.btn-open');
    var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
    var targetID;

    // 팝업 열기
    for(var i = 0; i < target.length; i++){
        target[i].addEventListener('click', function(){
            targetID = this.getAttribute('href');
            document.querySelector(targetID).style.display = 'block';
        });
    }

    // 팝업 닫기
    for(var j = 0; j < target.length; j++){
        btnPopClose[j].addEventListener('click', function(){
            this.parentNode.parentNode.style.display = 'none';
        });
    }

</script>


{{>layout/footer}}