{{>layout/header}}

<nav class="codrops-demos">
    <a href="/">Home</a>
    <a class="current-demo" href="/mychatroom">Chatting</a>
    <a href="/search">Search</a>
    <a href="/board">Board</a>
    <a href="/info">Info</a>
</nav>

<link rel="stylesheet" type="text/css" href="css/mychatroom.css" />

</header>

    <main>
    <section id="chatlist">
        <h3>채팅방 리스트</h3>
        <article>
            <a href="#pop_info_1" class="btn-open">채팅방 만들기</a>
            <div id="pop_info_1" class="pop_wrap" style="display:none;">
                <div class="pop_inner">
                    <p class="dsc">채팅창 만들기</p>
                    <form action="/createChatRoom" method="post" class="room-form">
                        <div class="form-group">
                            <input type="text" name="roomname" placeholder="방 이름"
                                   class="form-username form-control" id="form-username">
                            <br>
                            <input type="int" name="maxnumber" placeholder="최대 인원"
                                   class="form-username form-control" id="form-username">
                        </div>
                        <button type="submit" class="btn">방 만들기</button>
                    </form>

                    <button type="button" class="btn_close">닫기</button>
                </div>
            </div>
        </article>

        <h3>채팅방 검색</h3>
        <input id="textMessage" class="textMessage" type="text">
        <input onclick="searchKey()" value="Send" type="button">
        {{#searchedRoom}}
            <br>
            <tr>
                <td>{{roomname}}</td>
                <button type="btn" onclick="location.href='chat?id='+{{id}}">입장</button>
            </tr>
        {{/searchedRoom}}

    </section>

    <section>
        <h3>입장된 채팅방</h3>
        <article>
            {{#mychatroom}}
                <tr>
                    <td>{{chatRoom.roomname}}</td>
                    <button type="button" onclick="location.href='chat?id='+{{chatRoom.id}}">입장</button>
                </tr>
                <br>
            {{/mychatroom}}
        </article>


        <h3>내가 만든 채팅방</h3>
        <article>
        {{#chatroom}}
            <tr>
                <td>{{roomname}}</td>
                <button type="button" onclick="location.href='chat?id='+{{id}}">입장</button>
            </tr>
            <br>
        {{/chatroom}}
        </article>
    </section>


    </main>



<script>
    function searchKey() {
        var key = document.getElementById("textMessage");
        location.href = "/mychatroom?searchkey=" + $("#textMessage").val()

    }


    var target = document.querySelectorAll('.btn-open');
    var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
    var targetID;

    // 팝업 열기
    for(var i = 0; i < target.length; i++){
        target[i].addEventListener('click', function(){
            targetID = this.getAttribute('href');
            document.querySelector(targetID).style.display = 'block';
        });
    }

    // 팝업 닫기
    for(var j = 0; j < target.length; j++){
        btnPopClose[j].addEventListener('click', function(){
            this.parentNode.parentNode.style.display = 'none';
        });
    }

</script>


{{>layout/footer}}