{{>layout/header}}

<nav class="codrops-demos">
    <a href="index.html">Effect 1</a>
    <a href="index2.html">Effect 2</a>
    <a class="current-demo" href="index3.html">Effect 3</a>
    <a href="index4.html">Effect 4</a>
    <a href="index5.html">Effect 5</a>
    <a href="index6.html">Effect 6</a>
    <a href="index7.html">Effect 7</a>
</nav>
</header>

<div>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h1><strong>PostList</strong></h1>
                                <p>Select Post for PostList</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <a onclick="location.href='postSave?board_id='+{{board_id}}">글 등록</a>
                            <table class="table-post-list">
                                <thead class="thead-strong">
                                <tr>
                                    <th>게시글 번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                </tr>
                                </thead>
                                <tbody id="tbody">
                                {{#post}}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td><a onclick="location.href='postDetail?board_id='+{{board_id}}+'&post_id='+{{id}}">{{title}}</a></td>
                                        <td>{{username}}</td>
                                    </tr>
                                {{/post}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>

    </footer>
</div>

{{>layout/footer}}