{{>layout/header}}

<nav class="codrops-demos">
    <a href="#">Home</a>
    <a href="#">Chatting</a>
    <a class="current-demo"href="#">Search</a>
    <a href="#">Board</a>
    <a href="#">Info</a>
    <a href="#">미사용</a>
    <a href="index7.html">미사용</a>
</nav>
</header>




{{>layout/footer}}